* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 253, 247)
}

header {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

main {
    margin: 0 80px;
}


.title1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.title2 {
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

ul.colorboxes li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 5%;
}