* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: white;
    padding: 40px 0;
    text-align: center;
}

main {
    background-color: gainsboro;
}

.columnContainer {
    column-width: 40%;
    column-count: 2;
    column-gap: 40px;
    margin: 40px 80px;
    border: 1px solid red;
}

.title1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
}

.title2 {
    font-family: Heebo, sans-serif;
    font-size: 30px;
}